<<<<<<< HEAD
body {
	 font-family: 'Noto Sans TC', sans-serif;
	 color: MediumSeaGreen
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	coior: SlateBlue
}
=======
body {
	 font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
	font-family: 'Noto Sans TC', sans-serif;
}
color:green
>>>>>>> 2e7f5571c3b0b67e33031577d601be8ae6ddf54a
